{% extends 'base.html.twig' %}
{% trans_default_domain 'experience' %}
{% block content %}
{% set breadcrumbs = [
    {title: 'Admin panel' | trans([], 'dashboard'), link: absolute_url(path('admin-dashboard'))},
    {title: 'Experiences' | trans, link: absolute_url(path('experience-list')) },
    {title: title}
] %}
{% include 'common/breadcrumbs.html.twig' with breadcrumbs %}
<div class="admin-panel" id="experience">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h2>{{ title }}</h2>
        </div>
        {{ form_start(form, {attr: {'class': 'form-inline'}}) }}
        <div class="row">
            <div class="col-lg-8">
                {{ form_row(form.name, {attr: {'class': 'form-control'}}) }}
                {{ form_row(form.description, {attr: {'class': 'form-control'}}) }}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.fromDate, {attr: {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.toDate, {attr: {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.company, {attr: {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.locale, {attr: {'class': 'form-control'}}) }}
                    </div>
                </div>
                {{ form_row(form.location, {attr: {'class': 'form-control'}}) }}
                <hr />
                <button type="submit" class="btn btn-primary">{{ submit }}</button>
            </div>
            <div class="col-lg-4">
                {% if experience.image is defined %}
                    <img src="/company/{{ experience.image }}" alt="" class="img-fluid"  />
                {% endif %}
                {{ form_row(form.image, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}