{% extends 'base.html.twig' %}
{% trans_default_domain 'experience' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/admin') }}
{% endblock %}
{% block content %}
    {% set breadcrumbs = [
        {title: 'Admin panel' | trans([], 'dashboard'), path: 'admin-dashboard'},
        {title: 'Experience' | trans }
    ] %}
    {% include 'common/breadcrumbs.html.twig' with breadcrumbs %}
    <div class="admin-panel" id="article">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>{%trans%}Experiences{% endtrans %}</h2>
            </div>
            <div class="pb-4">
                <a href="{{ path('experience-create') }}" class="btn btn-lg btn-success text-right">
                    <i class="fa-regular fa-file-lines"></i>
                    {% trans from 'messages'  %}Create{% endtrans %}
                </a>
                <button class="btn btn-lg btn-danger delete" id="remove-experience" data-confirm="{% trans %}Are you sure that you want to remove selected companies from your experience?{% endtrans %}">
                    <i class="fa-solid fa-trash-can"></i>
                    {% trans from 'messages'  %}Delete{% endtrans %}
                </button>
            </div>
            <div class="row">
                <form action="{{ url('experience-delete') }}" method="post" class="datagrid-form">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                <label><input type="checkbox" class="check-all" /></label>
                            </th>
                            <th>{% trans from 'messages'  %}Image{% endtrans %}</th>
                            <th>{% trans %}Title{% endtrans %}</th>
                            <th>{% trans from 'messages' %}Locale{% endtrans %}</th>
                            <th>{% trans from 'messages'  %}Location{% endtrans %}</th>
                            <th>{% trans %}Company{% endtrans %}</th>
                            <th>{% trans from 'messages'  %}From{% endtrans %}</th>
                            <th>{% trans from 'messages'  %}To{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for experience in experiences %}
                            <tr>
                                <td>
                                    <label><input type="checkbox" name="id[{{ experience.id }}]" /></label>
                                </td>
                                <td>
                                    {% if experience.image %}
                                        <img src="{{ absolute_url('/company/'~ experience.image) }}" class="img-thumbnail company-thumbnail" alt="" />
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('experience-update', {'id': experience.id}) }}">{{ experience.name }}</a></td>
                                <td><img src="{{ absolute_url('/images/locales/' ~ experience.locale) }}.png" alt="{{ experience.locale|trans([], 'languages') }}" /></td>
                                <td>
                                    {{ experience.location }}
                                </td>
                                <td>
                                    {{ experience.company }}
                                </td>
                                <td>
                                    {{ experience.fromDate|date('d.m.Y') }}
                                </td>
                                <td>
                                    {{ experience.toDate|date('d.m.Y') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
