{% extends 'base.html.twig' %}
{% trans_default_domain 'article' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/article') }}
    {{ encore_entry_script_tags('js/tag') }}
{% endblock %}
{% block content %}
{% set breadcrumbs = [
    {title: 'Admin panel' | trans([], 'dashboard'), path: 'admin-dashboard'},
    {title: 'Articles' | trans, path: 'article-list' },
    {title: title}
] %}
{% include 'common/breadcrumbs.html.twig' with breadcrumbs %}
<div class="admin-panel" id="article">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <h2>{{ title|trans }}</h2>
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs">
                {% for locale in app_locales %}
                    {% include 'article/__locale_tab.html.twig' %}
                {% endfor %}
            </ul>
        </div>
        <div class="box-container">
            {{ form_start(form, {attr: {'class': 'form-inline'}}) }}
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.translation.title) }}
                    <div class="control-group">
                        {{ form_label(form.article.slug) }}
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                            {{ form_widget(form.article.slug) }}
                            <button class="btn btn-outline-secondary slug-button" type="button">
                                <i class="fa-solid fa-gears"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_row(form.translation.body) }}
                    {{ form_row(form.translation.locale) }}
                    {{ form_row(form.article.tags) }}
                    <div class="form-check form-switch mt-2 mb-2 p-0">
                        {{ form_row(form.translation.draft) }}
                    </div>
                    <button type="submit" class="btn btn-primary">{{ submit }}</button>
                </div>
                <div class="col-lg-4">
                    {% if form.vars.value.translation.image is not null %}
                        <img src="{{ absolute_url('/blog/' ~ form.vars.value.translation.image) }}" alt="" class="img-fluid" />
                    {% endif %}
                    {{ form_row(form.translation.image) }}
                    {{ form_row(form.translation.preview) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}