{% extends 'base.html.twig' %}
{% trans_default_domain 'user' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/user') }}
{% endblock %}

{% block content %}
{% if 'ROLE_ADMIN' in app.user.roles %}
    {% set breadcrumbs = [
        {title: 'Admin panel' | trans([], 'dashboard'), path: 'admin-dashboard'},
        {title: 'Users' | trans, path: 'user-list' },
        {title: title}
    ] %}
    {% include 'common/breadcrumbs.html.twig' with breadcrumbs %}
{% endif %}
<div class="user">
    <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
        <h2>{{ title }}</h2>
    </div>
    {% include '/user/__tabs.html.twig' with {current_tab: 'password', 'id': user.id} %}
    <div class="user-form-body">
        {{ form_start(form) }}
        {% include '/user/__username.html.twig' %}
        {{ form_row(form.plainPassword.first, {attr: {'class': 'form-control'}}) }}
        {{ form_row(form.plainPassword.second, {attr: {'class': 'form-control'}}) }}
        <button type="submit" class="btn btn-primary mt-4">{{ submit }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}