{% trans_default_domain 'user' %}

<div>
    <h1>{% trans %}Recover password request{% endtrans %}</h1>
    <p>{% trans %}Greetings{% endtrans %} {{ user.firstName}} {{ user.lastName }}</p>
    <p>{% trans %}You or someone else may have created a request to change your password.{% endtrans %}
        {% trans %}If you haven't done so, please contact support or simply ignore this email.{% endtrans %}
        {% trans %}However, if you really want to change your password, click on the link below.{% endtrans %}
        {% trans %}We will send you newly generated password.{% endtrans %}
    </p>
    <p>{% trans %}But hurry up Cinderella, the link is valid till midnight {% endtrans %} ({{ timezone }})</p>
    <p>
        <a href="{{ absolute_url(path('user-reset-password', {'token': user.recovery})) }}">
            {{ absolute_url(path('user-reset-password', {'token': user.recovery})) }}
        </a>
    </p>
    <p>{% trans %}Have a nice day{% endtrans %}</p>
</div>