{% trans_default_domain 'user' %}

<div>
    <h1>{% trans %}New password{% endtrans %}</h1>
    <p>{% trans %}Greetings{% endtrans %} {{ user.firstName}} {{ user.lastName }}</p>
    <p>{% trans %}We generated a new password for you.{% endtrans %}</p>
    <p>{{ password }}</p>
    <p>{% trans %}We also remind you that your username is:{% endtrans %}</p>
    <p>{{ user.username }}</p>
    <p>
        {% trans %}If you want to change this password please follow the link bellow after sign in.{% endtrans %}
    </p>
    <p>
        <a href="{{ url('user-edit-password') }}">
            {{ url('user-edit-password') }}
        </a>
    </p>
    <p>{% trans %}Have a nice day{% endtrans %}</p>
</div>